@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply text-base;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  background-color: hsl(31deg 22% 34%);
}
body {
  background-color: hsl(45, 40%, 92%);
  background-image: url('./assets/img/vegetables-fruits-light.svg');
  background-repeat: repeat;
  background-size: 120% auto;
  background-position: center;
  color: hsl(42, 73%, 14%);
  font-family: 'Fira Sans', sans-serif;
  @apply min-h-screen;
}
h1, .h1 {
  @apply text-4xl;
}
h2, .h2 {
  @apply text-3xl;
}
h3, .h3 {
  @apply text-xl;
}
h4, .h4 {
  @apply text-lg;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  @apply font-bold mb-2;
  color: hsl(32deg 40% 28%);
}
.h1.font-light, .h2.font-light, .h3.font-light, .h4.font-light, .h5.font-light {
  font-weight: 300;
}
a {
  text-decoration: underline;
}
[type='text'], [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select {
  border-color: hsl(30, 52%, 78%);
}
@media (min-width: 768px) { 
  body {
      background-size: 75% auto;
  }
  body, footer {
      @apply w-8/12;
      @apply mx-auto;
  }
}
@media (min-width: 1024px) {
  body {
      @apply w-1/2;
  }
}


button, .btn {
  @apply px-4 py-2 rounded;
  text-decoration: none;
}
.btn-sm {
  @apply px-2 py-1 text-sm;
}
.btn-yellow {
  color: #fff;
  background-color: hsl(43, 100%, 55%);
  text-shadow: 1px 1px rgba(0,0,0,.18);
}
.btn-orange {
  color: #fff;
  background-color: hsl(31, 91%, 56%);
  text-shadow: 1px 1px rgba(0,0,0,.18);
}
.btn-green {
  color: #fff;
  background-color: hsl(134, 67%, 53%);
  text-shadow: 1px 1px rgba(0,0,0,.18);
}
.btn-red {
  color: #fff;
  background-color: hsl(0, 89%, 64%);
  text-shadow: 1px 1px rgba(0,0,0,.18);
}
.btn-gray-200 {
  @apply bg-gray-200;
}

footer {
  @apply text-chocolate-400 bg-chocolate-600;
}

.shopping-list li.true {
  @apply line-through text-gray-400;
}
.shopping-list li.false svg {
  @apply text-gray-400;
}
.shopping-list .list-none li, .list-none li {
  @apply border-chocolate-300;
}
.shopping-list .btn-red {
  @apply float-right mt-4;
}
.weekday-card {
  background-color: hsl(46, 54%, 82%);
}
.weekday-card .h5 {
  @apply mb-0;
}
.weekday-recipes-list h5 {
  @apply mb-1;
}
.list-search-results li {
  @apply relative;
}
.list-search-results li img {
  transition: all .3s;
}
@media (max-width: 768px) {
  .list-search-results li img {
    display: none;
  }
}
.list-search-results li:hover {
  background-color: hsl(46, 54%, 82%);
}
.list-search-results li:focus-within {
  background-color: hsl(46, 54%, 82%);
}
.list-search-results li:hover img {
  transform: rotate(-5deg) scale(1.15);
}
.list-search-results li:focus-within img {
  transform: rotate(-5deg) scale(1.15);
}
.list-search-results a {
  @apply no-underline;
}
.list-search-results a:after {
  content: '';
  @apply absolute left-0 right-0 top-0 bottom-0;
} 
.list-search-results li h3 {
  line-height: 1.2;
}

